{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2",
    "es2015"
  ],
  "plugins": [
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }], "transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]
    }
  }
}
